<footer id="footer" class="footer">
    <div class="copyright">
      &copy; 2024 <strong><span>Multimedya Atölyesi</span></strong>. Tüm Hakları Saklıdır.
    </div>
    <div class="credits">
      <a href="https://www.multimedyaatolyesi.com/">Multimedya Atölyesi</a> tarafından tasarlanmıştır.
    </div>
  </footer>